.footer-centered {
  background-color: #121321;
  color: white;
  padding: 2.5rem 1.5rem;
  border-top: solid #46f0d2 1px;
  text-align: center;
}
.text-neon {
  color: #46F0D2 !important;
}

.border-neon {
  border-color: #46F0D2 !important;
}

.text-gold {
  color: #FFEE93 !important;
}

.footer-centered__container {
  max-width: 800px;
  margin: 0 auto;

  /* Core layout styles */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer-centered__logo {
  display: block;
  width: 120px;
  height: auto;
}

.footer-centered__logo path {
  fill: #333;
}

.footer-centered__nav ul,
.footer-centered__social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* Allow links to wrap on very narrow screens */
  justify-content: center;
  gap: 1.5rem;
}

.footer-centered__nav a,
.footer-centered__social a {
  color: var(--footer-link-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.footer-centered__nav a:hover,
.footer-centered__social a:hover {
  color: white;
}

.footer-centered__social svg {
  width: 22px;
  height: 22px;
  fill: white;
  transition: fill 0.2s ease-in-out;
}

.footer-centered__social a:hover svg {
  fill: white;
}

.footer-centered__copyright {
  font-size: 0.875rem;
  margin-top: 2rem;
}
